mixin mod
    .mod
        .name jquery
        .meta
            .star 200
            .download 298
        .desc
            | jQuery JavaScript Library &nbsp
            a http://jquery.com

mixin meta(title,icon,link)
    .meta.section
        i(class="icon-" + icon)
        span.title #{title}
        span.pull-right #{link}

doctype html
html
    head
        meta(charset="utf-8")
        title Cortex Search
        link(rel="stylesheet",href="/css/search.css")
    body
        .head
            .logo
                img(src="/img/logo.png")
            .search
                i.icon-search
                input.input
                i.icon-close
        .content
            .mods
                +mod
                +mod
                +mod
                +mod
                +mod
                +mod
                +mod
                +mod
            .detail
                .block.header 
                    .author
                        img.avatar(src="https://avatars0.githubusercontent.com/u/1646564?s=460")
                    .desc
                        .title jquery
                        .info by &nbsp
                            a Kael 
                            | &nbsp &nbsp Apr 19,2014
                .block.intro
                    |jQuery is a fast, small, and feature-rich JavaScript library. 
                .block.readme 
                    .title README
                    .content
            .metas
                .top
                +meta("like","like","200 like")
                +meta("Repo","repo","github")
                +meta("Home","home","blahblah")
                +meta("Issues","bug","github.com")
                .section.tags
                    .title Keywords
                    .tags
                        .tag jquery
                        .tag jquery
                        .tag jquery
                        .tag jquery
                .section.maintainers
                    .title Maintainers
                    .avatars
                        img.avatar-sm(src="https://avatars0.githubusercontent.com/u/1646564?s=460")
                        img.avatar-sm(src="https://avatars0.githubusercontent.com/u/1646564?s=460")
                        img.avatar-sm(src="https://avatars0.githubusercontent.com/u/1646564?s=460")
                        img.avatar-sm(src="https://avatars0.githubusercontent.com/u/1646564?s=460")
